# ignore real and fake folders
real/
fake/
# ignore the real_processed and fake_processed folders
real_processed/
fake_processed/

# ignore the real_vit and fake_vit folders
real_vit/
fake_vit/

# ignore the vit_model folder
vit_model/

# ignore the real_features and fake_features folders
real_features/
fake_features/